<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <title>Event App</title>
        <style>
           ul.errorlist {
                padding-left: 0;
                padding-bottom: 1rem;
                margin: 0;
                list-style: none;
                color: red;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary mb-5" data-bs-theme="dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Campus Events</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'events' %}">All Events</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'categories' %}">Event Categories</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'event_create' %}">Submit Your Event</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        {% if messages %}
            <div class="container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>